## **Teori - Object & Class Python**

Python telah menjadi bahasa berorientasi objek sejak bahasa Python sendiri dibuat. Untuk membuat dan menggunakan kelas dan objek pada Python benar-benar mudah. Pada tutorial ini Anda akan dibantu untuk menjadi ahli dalam penggunaan pemrograman berorientasi objek Python.

Jika Anda tidak memiliki pengalaman sebelumnya dengan pemrograman berorientasi objek (OOP), Anda mempelajarinya terlebih dahulu agar Anda dapat memahami konsep dasarnya.

Jika memang sudah mengerti konsep dasar OOP berikut ini adalah pengenalan dari Object-Oriented Programming (OOP) untuk membantu Anda.

### **Istilah Dalam OOP**

* `Class`

    Prototipe yang ditentukan pengguna untuk objek yang mendefinisikan seperangkat atribut yang menjadi ciri objek kelas apa pun. Atribut adalah data anggota (variabel kelas dan variabel contoh) dan metode, diakses melalui notasi titik.

* `Class variable`

    Sebuah variabel yang dibagi oleh semua contoh kelas. Variabel kelas didefinisikan dalam kelas tapi di luar metode kelas manapun. Variabel kelas tidak digunakan sesering variabel contoh.

* `Data member`

    Variabel kelas atau variabel contoh yang menyimpan data yang terkait dengan kelas dan objeknya.

* `Function overloading`

    Penugasan lebih dari satu perilaku ke fungsi tertentu. Operasi yang dilakukan bervariasi menurut jenis objek atau argumen yang terlibat.

* `Instance variable`

    Variabel yang didefinisikan di dalam sebuah metode dan hanya dimiliki oleh instance kelas saat ini.

* `Inheritance`

    Pengalihan karakteristik kelas ke kelas lain yang berasal darinya.

* `Instance`

    Objek individu dari kelas tertentu. Obyek obj yang termasuk dalam Lingkaran kelas, misalnya, adalah turunan dari Lingkaran kelas.

* `Instantiation`

    Penciptaan sebuah instance dari sebuah kelas.

* `Method`

    Jenis fungsi khusus yang didefinisikan dalam definisi kelas.

* `Object`

    Contoh unik dari struktur data yang didefinisikan oleh kelasnya. Objek terdiri dari kedua anggota data (variabel kelas dan variabel contoh) dan metode.

* `Operator overloading`

    Penugasan lebih dari satu fungsi ke operator tertentu.

# **Create a Class**

Statement class digunakan untuk membuat definisi kelas baru.

```
class ClassName: 
      'expression'
```

A Class is like an object constructor, or a "blueprint" for creating objects.

Dibawah ini adalah contoh cara membuat class dan penggunaanya :

In [ ]:
class NamaKelas:
    pass  # gantikan dengan pernyataan-pernyataan, misal: atribut atau metode

In [ ]:
class MyClass:
  x = 5

In [ ]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
    i = 12345
 
    def f(self):
        return 'hello world'

print(Kalkulator.i)
Kalkulator.i = 1024  # maka nilai atribut i dalam Kalkulator berubah dari 12345 menjadi 1024
print(Kalkulator.i)

12345
1024

In [ ]:
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary): #self = this
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)

In [5]:
class Classy:
    pass


print(Classy.__name__)
obj = Classy()
print(type(obj).__name__)

Classy
Classy

In [8]:
class Classy:
    pass


print(Classy.__module__)
obj = Classy()
print(obj.__module__)

__main__
__main__

# **Constructor / The __init__() Function**

All classes have a function called `__init__()`, which is always executed when the class is being initiated.

The `__init__()` function is called automatically every time the class is being used to create a new object.

Di Python, fungsi khusus atau metode sebagai constructor ini bernama `__init__()` atau biasa diucapkan sebagai "double underscore init". Pada saat dilakukan instantiation dari class, metode `__init__()` ini secara otomatis akan dipanggil di terlebih dahulu.

Use the `__init__()` function to assign values to object properties, or other operations that are necessary to do when the object is being created

---

If you name a method like this: `__init__`, it won't be a regular method - it will be a `constructor`.

If a class has a constructor, it is invoked automatically and implicitly when the object of the class is instantiated.

The constructor:

* is `obliged to have the 'self' parameter` (it's set automatically, as usual);
* `may (but doesn't need to) have more parameters` than just `self`; if this happens, the way in which the class name is used to create the object must reflect the `__init__` definition;
* `can be used to set up the object`, i.e., properly initialize its internal state, create instance variables, instantiate any other objects if their existence is needed, etc.

Note that the constructor:

* `cannot return a value`, as it is designed to return a newly created object and nothing else;
* `cannot be invoked directly either from the object or from inside the class` (you can invoke a constructor from any of the object's subclasses, but we'll discuss this issue later.)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
#class
class Mahasiswa():
	nama = 'nama'

	def __init__(self, input_nama, input_nim):
		self.nama = input_nama
		self.nim = input_nim

	def belajar(self, kondisi):
		print(self.nama,'sedang belajar', kondisi)

	def tidur(self):
		print(self.nama,'tidur di kelas')

# main programnya

otong = Mahasiswa("otong surotong", 13317001)
#ucup = Mahasiswa()

print(otong.nama)
otong.nama = "atong suratang"
print(otong.nama)

#ucup.nama = "michael ucup"
otong.belajar('dengan giat')
#ucup.tidur()

otong surotong
atong suratang
atong suratang sedang belajar dengan giat

# **The `__str__` Function**

In addition to the `__init__` constructor special method, there is also the `__str__` special method. This method allows us to define how an instance of an object will be printed when it’s passed to the print() function. If an object doesn’t have this special method defined, it will wind up using the default representation, which will print the position of the object in memory. Not super useful. Here is our Apple class, with the `__str__` method added:

In [ ]:
class Apple:
 def __init__(self, color, flavor):
     self.color = color
     self.flavor = flavor

apple = Apple("red", "sweet")
print(apple)

<__main__.Apple object at 0x7f97819358d0>

In [28]:
class Mouse:
    def __init__(self, name):
        self.my_name = name


    def __str__(self):
        return self.my_name


the_mouse = Mouse('mickey')
print(the_mouse)  # Prints "mickey".

mickey

In [ ]:
class Apple:
 def __init__(self, color, flavor):
     self.color = color
     self.flavor = flavor
 def __str__(self):
     return "This apple is {} and its flavor is {}".format(self.color, self.flavor)

apple = Apple("red", "sweet")
print(apple)

This apple is red and its flavor is sweet

In [10]:
class Star:
    def __init__(self, name, galaxy):
        self.name = name
        self.galaxy = galaxy

    def __str__(self):
        return self.name + ' in ' + self.galaxy


sun = Star("Sun", "Milky Way")
print(sun)

Sun in Milky Way

# **The self Parameter**

* The self parameter is a reference to the current instance of the class

* used to access variables that belongs to the class.

It `does not` have to be named `self` , you can call it whatever you like, but it has to be the `first parameter` of any function in the class:

In [ ]:
# Use the words mysillyobject and abc instead of self:

class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class MenuItem:
    def __init__(self):
        # Tetapkan self.name ke 'Roti Lapis'
        self.name = 'Roti Lapis'
        
        # Tetapkan self.price ke 5
        self.price = 5

    def info(self):
        return self.name + ': $' + str(self.price)

    def get_total_price(self, count):
        total_price = self.price * count
        return total_price


menu_item1 = MenuItem()

print(menu_item1.info())

result = menu_item1.get_total_price(4)
print('Total harga adalah $' + str(result))

Roti Lapis: $5
Total harga adalah $20

In [ ]:
class MenuItem:
    # Tambahkan parameter name dan price
    def __init__(self, name, price):
        # Gantikan 'Roti Lapis' ke parameter name
        self.name = name
        
        # Gantikan 5 ke parameter price
        self.price = price

    def info(self):
        return self.name + ': $' + str(self.price)

    def get_total_price(self, count):
        total_price = self.price * count
        return total_price


# Tambahkan 'Roti Lapis' dan 5 sebagai argument
menu_item1 = MenuItem('Roti Lapis', 5)

print(menu_item1.info())

result = menu_item1.get_total_price(4)
print('Total harga adalah $' + str(result))

Roti Lapis: $5
Total harga adalah $20

# **Create Object**

**Membuat Instance Objects**

Untuk membuat instances kelas, Anda memanggil class menggunakan nama class dan meneruskan argumen apa pun yang metode init terima.

In [ ]:
class MyClass:
  x = 5

# creating object
p1 = MyClass()
print(p1.x)

5

In [ ]:
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)
      
# This would create first object of Employee class
emp1 = Employee("Zara", 2000)
# This would create second object of Employee class
emp2 = Employee("Manni", 5000)

In [1]:
class ExampleClass:
    def __init__(self, val = 1):
        self.first = val

    def set_second(self, val):
        self.second = val


example_object_1 = ExampleClass()
example_object_2 = ExampleClass(2)

example_object_2.set_second(3)

example_object_3 = ExampleClass(4)
example_object_3.third = 5

print(example_object_1.__dict__)
print(example_object_2.__dict__)
print(example_object_3.__dict__)

{'first': 1}
{'first': 2, 'second': 3}
{'first': 4, 'third': 5}

In [2]:
class ExampleClass:
    counter = 0
    def __init__(self, val = 1):
        self.__first = val
        ExampleClass.counter += 1


example_object_1 = ExampleClass()
example_object_2 = ExampleClass(2)
example_object_3 = ExampleClass(4)

print(example_object_1.__dict__, example_object_1.counter)
print(example_object_2.__dict__, example_object_2.counter)
print(example_object_3.__dict__, example_object_3.counter)

{'_ExampleClass__first': 1} 3
{'_ExampleClass__first': 2} 3
{'_ExampleClass__first': 4} 3

In [4]:
class Classy:
    varia = 1
    def __init__(self):
        self.var = 2

    def method(self):
        pass

    def __hidden(self):
        pass


obj = Classy()

print(obj.__dict__)
print(Classy.__dict__)

{'var': 2}
{'__module__': '__main__', 'varia': 1, '__init__': <function Classy.__init__ at 0x7f5a5c15ab00>, 'method': <function Classy.method at 0x7f5a5c15aa70>, '_Classy__hidden': <function Classy.__hidden at 0x7f5a5c15a950>, '__dict__': <attribute '__dict__' of 'Classy' objects>, '__weakref__': <attribute '__weakref__' of 'Classy' objects>, '__doc__': None}

In [6]:
class Classy:
    pass


print(Classy.__name__)
obj = Classy()
print(type(obj).__name__)

Classy
Classy

In [7]:
class Classy:
    pass


print(Classy.__module__)
obj = Classy()
print(obj.__module__)

__main__
__main__

**isinstance()**

In [15]:
class Vehicle:
    pass


class LandVehicle(Vehicle):
    pass


class TrackedVehicle(LandVehicle):
    pass


my_vehicle = Vehicle()
my_land_vehicle = LandVehicle()
my_tracked_vehicle = TrackedVehicle()

for obj in [my_vehicle, my_land_vehicle, my_tracked_vehicle]:
    for cls in [Vehicle, LandVehicle, TrackedVehicle]:
        print(isinstance(obj, cls), end="\t")
    print()

True	False	False
True	True	False
True	True	True

**the is operator**


The is operator checks whether two variables (object_one and object_two here) refer to the same object.

In [16]:
class SampleClass:
    def __init__(self, val):
        self.val = val


object_1 = SampleClass(0)
object_2 = SampleClass(2)
object_3 = object_1
object_3.val += 1

print(object_1 is object_2)
print(object_2 is object_3)
print(object_3 is object_1)
print(object_1.val, object_2.val, object_3.val)

string_1 = "Mary had a little "
string_2 = "Mary had a little lamb"
string_1 += "lamb"

print(string_1 == string_2, string_1 is string_2)

False
False
True
1 2 1
True False

# **Class Variable**

In [ ]:
class mahasiswa():

    jumlah_mahasiswa = 0

    def __init__(self, input_nama, input_nim):
        self.nama = input_nama # public
        self.nim = input_nim  # public
        mahasiswa.jumlah_mahasiswa += 1

# main programnya

otong = mahasiswa("otong surotong", 13317001)
ucup = mahasiswa("michael ucup", 13317002)
cassandra = mahasiswa("cassandra aja", 13317002)

print(mahasiswa.jumlah_mahasiswa) #class varible

3

In [ ]:
class MenuItem:
    pass

menu_item1 = MenuItem()

menu_item1.name = 'Roti Lapis'
print(menu_item1.name)

# Tentukan price menu_item1 ke 5
menu_item1.price = 5

# Cetak price dari menu_item1
print(menu_item1.price)

Roti Lapis
5

**hasattr**

In [3]:
class ExampleClass:
    a = 1
    def __init__(self):
        self.b = 2


example_object = ExampleClass()

print(hasattr(example_object, 'b'))
print(hasattr(example_object, 'a'))
print(hasattr(ExampleClass, 'b'))
print(hasattr(ExampleClass, 'a'))

True
True
False
True

# **Metode (Method)**

Pembahasan lebih detail mengenai metode, selain yang dibahas sebelumnya, kita akan membahas 3 jenis metode:

* Metode dari objek (object method)
* Metode dari class (class method)
* Metode secara static (static method)

## **Object Method**

Pertama kita membahas metode dari objek, seperti yang sempat dijelaskan secara singkat di atas mengenai metode, atau dalam bahasa Inggris disebut method, secara umum metode adalah sebuah fungsi khusus yang menjadi “milik” suatu objek, yakni hasil instantiation dari class.

Argumen pertama dari metode-metode dalam class, biasa diberikan nama self sebagai suatu konvensi atau standar penamaan, meskipun Anda bisa juga menggunakan nama lain. Bahkan dalam Python tidak ada arti khusus tentang sintaksis self ini, namun sangat disarankan menggunakan konversi ini agar program Python yang Anda buat akan lebih mudah dimengerti oleh pemrogram lainnya.

## **Class Method**

Classmethod adalah sebuah fungsi yang mengubah metode menjadi metode dari class (class method). Dalam penggunaannya, fungsi ini dijadikan sebagai fungsi decorator `@classmethod`, kemudian pemanggilannya bisa langsung dari class yang terdefinisi ataupun melalui objek.
Metode dari class (class method) menerima masukan class secara implisit sebagai argumen pertama yang secara konvensi diberikan nama `cls`.

In [ ]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
 
    def f(self):
        return 'hello world'
 
    @classmethod
    def tambah_angka(cls, angka1, angka2):
        return '{} + {} = {}'.format(angka1, angka2, angka1 + angka2)


print(Kalkulator.tambah_angka(1, 2))  # tanpa perlu memberikan masukan untuk argumen cls

# Metode dari class (class method) juga dapat dipanggil dari objek
k = Kalkulator()
print(k.tambah_angka(1, 2))

1 + 2 = 3
1 + 2 = 3

## **Static Method**

Staticmethod adalah sebuah fungsi yang mengubah metode menjadi metode statis (static method). Dalam penggunaannya, fungsi ini dijadikan sebagai fungsi decorator `@staticmethod`, kemudian pemanggilannya bisa langsung dari class yang terdefinisi ataupun melalui objek.
`Metode statis (static method) tidak menerima masukan argumen pertama secara implisit`.

In [ ]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
 
    def f(self):
        return 'hello world'
 
    @staticmethod
    def kali_angka(angka1, angka2):
        return '{} x {} = {}'.format(angka1, angka2, angka1 * angka2)

    
a = Kalkulator.kali_angka(2, 3)
print(a)

# Metode statis (static method) juga dapat dipanggil dari objek

k = Kalkulator()
a = k.kali_angka(2, 3)
print(a)

2 x 3 = 6
2 x 3 = 6

# **Access Properties/Atribute and Method**

Anda mengakses atribut objek menggunakan dot operator dengan objek. Variabel kelas akan diakses dengan menggunakan nama kelas sebagai berikut :

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)
      
emp1 = Employee("Zara", 2000)
emp2 = Employee("Manni", 5000)

# Access Method
emp1.displayEmployee()
emp2.displayEmployee()
# Access Atribute
print ("Total Employee %d" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

# **Modify and Delete Properties/Atribute**

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print(self.name ," age is ", self.age)

p1 = Person("John", 36)
p1.myfunc()

# Modify Properties
p1.age = 40
p1.myfunc()

# try to Delete Properties
del p1.age
# p1.myfunc() 'Person' object has no attribute 'age'

John  age is  36
John  age is  40

#**Docstring**
Documenting Functions, Classes, and Methods (Optional)

 **help() for Object Class**

In [ ]:
class Apple:
 def __init__(self, color, flavor):
     self.color = color
     self.flavor = flavor
 def __str__(self):
     return "This apple is {} and its flavor is {}".format(self.color, self.flavor)

help(Apple)

Help on class Apple in module __main__:

class Apple(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self, color, flavor)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

**Docstring**

In [ ]:
class Person:
  def __init__(self, name):
    self.name = name
  def greeting(self):
    "Outputs a message with the name of the person" #--> this is docstring
    print("Hello! My name is {name}.".format(name=self.name)) 

help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self, name)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  greeting(self)
 |      Outputs a message with the name of the person
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

# **Private Atribute**

jika kita tidak ingin melakukan perubahan pada atribute dari luar. maka bisa mengguanakan private atribute.

In [ ]:
class mahasiswa():

    jurusan = "teknik tata boga"
    __nilai = 0 # private

    def __init__(self, input_nama, input_nim):
        self.nama = input_nama # public
        self.nim = input_nim  # public

    def uts(self,input_nilai):
        self.__nilai += input_nilai

    def uas(self,input_nilai):
        self.__nilai += input_nilai

    def check_status(self):
        if self.__nilai <= 50:
            print(self.nama,'tidak lulus')
        else:
            print(self.nama, 'lulus')

# main programnya

otong = mahasiswa("otong surotong", 13317001)
ucup = mahasiswa("michael ucup", 13317002)

otong.uts(10)
otong.uas(50)
otong.check_status()
ucup.uts(5)
ucup.uas(25)
ucup.__nilai = 60
ucup.check_status()

otong surotong lulus
michael ucup tidak lulus

# **Delete Object**

You can delete objects by using the del keyword

In [ ]:
del p1

# **Empty Class**

class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the `pass statement` to avoid getting an error.

In [ ]:
class Person:
  pass

# **Separate File Concept**

In [ ]:
%%writefile script.py

# Import class MenuItem dari menu_item.py
from menu_item import MenuItem

menu_item1 = MenuItem('Roti Lapis', 5)

print(menu_item1.info())

result = menu_item1.get_total_price(4)
print('Total harga adalah $' + str(result))

Overwriting script.py

In [ ]:
%%writefile menu_item.py
# Tempelkan code untuk class MenuItem
class MenuItem:
    def __init__(self, name, price):
        self.name = name
        self.price = price

    def info(self):
        return self.name + ': $' + str(self.price)

    def get_total_price(self, count):
        total_price = self.price * count
        return total_price

Overwriting menu_item.py

In [ ]:
!python3 script.py

Roti Lapis: $5
Total harga adalah $20

In [ ]:
%%writefile script2.py
from menu_item import MenuItem

menu_item1 = MenuItem('Roti Lapis', 5)
menu_item2 = MenuItem('Kue Coklat', 4)
menu_item3 = MenuItem('Kopi', 3)
menu_item4 = MenuItem('Jus Jeruk', 2)

menu_items = [menu_item1, menu_item2, menu_item3, menu_item4]

index = 0

for menu_item in menu_items:
    print(str(index) + '. ' + menu_item.info())
    index += 1

print('--------------------')

order = int(input('Masukkan nomor menu: '))
selected_menu = menu_items[order]
print('Item yang di pilih: ' + selected_menu.name)

# Terima input dari console, dan Berikan input ke variable count
count = int(input('Jumlah pesanan (diskon 10% untuk 3 atau lebih): '))

# Panggil method get_total_price 
result = selected_menu.get_total_price(count)

# Cetak 'Total harga adalah $____'
print('Total harga adalah $'+str(result))

Overwriting script2.py

In [ ]:
!python3 script2.py

0. Roti Lapis: $5
1. Kue Coklat: $4
2. Kopi: $3
3. Jus Jeruk: $2
--------------------
Masukkan nomor menu: 2
Item yang di pilih: Kopi
Jumlah pesanan (diskon 10% untuk 3 atau lebih): 2
Total harga adalah $6

# **OOP Structure**

## **Inheritance**

Inheritance allows us to define a class that inherits all the methods and properties from another class.

* **Parent class** is the class being inherited from, also called base class.

* **Child class** is the class that inherits from another class, also called derived class.

### **Create Parent Class**

Create a class named Person, with firstname and lastname properties, and a printname method

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

### **Create Child Class**

To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class

Create a class named Student, which will inherit the properties and methods from the Person class:

Note: 

Use the pass keyword when you do not want to add any other properties or methods to the class.

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

### **Add the __init__() Function**

We want to add the __init__() function to the child class (instead of the pass keyword).

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc
    pass

When you add the \_\_init\_\_() function, the child class will no longer inherit the parent's \_\_init\_\_() function.

Note: The child's \_\_init\_\_() function overrides the inheritance of the parent's \_\_init\_\_() function.

To keep the inheritance of the parent's \_\_init\_\_() function, add a call to the parent's \_\_init\_\_() function:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

### **Use the super() Function**

Python also has a super() function that will make the child class inherit all the methods and properties from its parent

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

By using the super() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

In [17]:
# Testing properties: instance variables.
class Super:
    def __init__(self):
        self.supVar = 11


class Sub(Super):
    def __init__(self):
        super().__init__()
        self.subVar = 12


obj = Sub()

print(obj.subVar)
print(obj.supVar)

12
11

### **Add Properties**

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

### **Add Methods**

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

If you add a method in the child class with the same name as a function in the parent class, the inheritance of the parent method will be overridden.

### **Link Inheritance**

In [24]:
class Top:
    def m_top(self):
        print("top")


class Middle(Top):
    def m_middle(self):
        print("middle")


class Bottom(Middle):
    def m_bottom(self):
        print("bottom")


object = Bottom()
object.m_bottom()
object.m_middle()
object.m_top()

bottom
middle
top

### **Multiple inheritance**

In [18]:
class SuperA:
    var_a = 10
    def fun_a(self):
        return 11


class SuperB:
    var_b = 20
    def fun_b(self):
        return 21


class Sub(SuperA, SuperB):
    pass


obj = Sub()

print(obj.var_a, obj.fun_a())
print(obj.var_b, obj.fun_b())

10 11
20 21

### **Overriding**

In [19]:
class Level1:
    var = 100
    def fun(self):
        return 101


class Level2(Level1):
    var = 200
    def fun(self):
        return 201


class Level3(Level2):
    pass


obj = Level3()

print(obj.var, obj.fun())

200 201

In [22]:
class Left:
    var = "L"
    var_left = "LL"
    def fun(self):
        return "Left"


class Right:
    var = "R"
    var_right = "RR"
    def fun(self):
        return "Right"

# first is definer
class Sub1(Left, Right):
    pass

class Sub2(Right, Left):
    pass


obj1 = Sub1()
print(obj1.var, obj1.var_left, obj1.var_right, obj1.fun())

obj2 = Sub2()
print(obj2.var, obj2.var_left, obj2.var_right, obj2.fun())

L LL RR Left
R LL RR Right

In [23]:
class One:
    def do_it(self):
        print("do_it from One")

    def doanything(self):
        self.do_it()


class Two(One):
    def do_it(self):
        print("do_it from Two")


one = One()
two = Two()

one.doanything()
two.doanything()

do_it from One
do_it from Two

### **Contoh Lain**

In [ ]:
class Ojek():

    def __init__(self, nama, transmisi, daerah):
        self.nama = nama
        self.transmisi = transmisi
        self.daerah = daerah

    def cek_id_abang(self):
        print('nama:',self.nama,'\nmotor:',self.transmisi,'\ndaerah:',self.daerah)

class Gojek(Ojek):

    def cek_id_abang(self):
        print('cek aplikasi gojek')


ojek1 = Ojek('mario','manual','bandung selatan')
ojek2 = Gojek('jackson','automatic','tasikmalaya')

ojek1.cek_id_abang()
ojek2.cek_id_abang()

nama: mario
motor: manual
daerah: bandung selatan
cek aplikasi gojek

### **Contoh Lain 02**

In [ ]:
class Kalkulator:
    """contoh kelas kalkulator sederhana. anggap kelas ini tidak boleh diubah!"""
 
    def __init__(self, nilai=0):
        self.nilai = nilai
 
    def tambah_angka(self, angka1, angka2):
        self.nilai = angka1 + angka2
        if self.nilai > 9:  # kalkulator sederhana hanya memroses sampai 9
            print('kalkulator sederhana melebihi batas angka: {}'.format(self.nilai))
        return self.nilai

class KalkulatorKali(Kalkulator):
    """contoh mewarisi kelas kalkulator sederhana"""
 
    def kali_angka(self, angka1, angka2):
        self.nilai = angka1 * angka2
        return self.nilai

kk = KalkulatorKali()
a = kk.kali_angka(2, 3)  # sesuai dengan definisi class memiliki fitur kali_angka
print(a)
 
b = kk.tambah_angka(5, 6)  # memiliki fitur tambah_angka karena mewarisi dari Kalkulator
print(b)

6
kalkulator sederhana melebihi batas angka: 11
11

Selain itu kita juga mengoverride methodnya

In [ ]:
class Kalkulator:
    """contoh kelas kalkulator sederhana. anggap kelas ini tidak boleh diubah!"""
 
    def __init__(self, nilai=0):
        self.nilai = nilai
 
    def tambah_angka(self, angka1, angka2):
        self.nilai = angka1 + angka2
        if self.nilai > 9:  # kalkulator sederhana hanya memroses sampai 9
            print('kalkulator sederhana melebihi batas angka: {}'.format(self.nilai))
        return self.nilai

class KalkulatorKali(Kalkulator):
    """contoh mewarisi kelas kalkulator sederhana"""
 
    def kali_angka(self, angka1, angka2):
        self.nilai = angka1 * angka2
        return self.nilai
 
    # di Override  
    def tambah_angka(self, angka1, angka2):
        self.nilai = angka1 + angka2
        return self.nilai

kk = KalkulatorKali()
 
b = kk.tambah_angka(5, 6)  # fitur tambah_angka yang dipanggil milik KalkulatorKali
print(b)

11

Pemanggilan Metode Kelas Dasar dari Kelas Turunan dengan Sintaksis Super

In [ ]:
class Kalkulator:
    """contoh kelas kalkulator sederhana. anggap kelas ini tidak boleh diubah!"""
 
    def __init__(self, nilai=0):
        self.nilai = nilai
 
    def tambah_angka(self, angka1, angka2):
        self.nilai = angka1 + angka2
        if self.nilai > 9:  # kalkulator sederhana hanya memroses sampai 9
            print('kalkulator sederhana melebihi batas angka: {}'.format(self.nilai))
        return self.nilai

class KalkulatorTambah(Kalkulator):
    """contoh mewarisi kelas kalkulator sederhana"""
 
    def tambah_angka(self, angka1, angka2):
        if angka1 + angka2 <= 9:  # fitur ini sudah oke di kelas dasar, gunakan yang ada saja
            super().tambah_angka(angka1, angka2)  # panggil fungsi dari Kalkulator lalu isi nilai
        else:  # ini adalah fitur baru yang ingin diperbaiki dari keterbatasan kelas dasar
            self.nilai = angka1 + angka2
        return self.nilai

kt = KalkulatorTambah()
 
b = kt.tambah_angka(5, 6)  # fitur tambah_angka yang dipanggil milik KalkulatorKali
print(b)

11

### **Contoh 03**

In [ ]:
class Clothing:
  material = ""
  def __init__(self,name):
    self.name = name
  def checkmaterial(self):
	  print("This {} is made of {}".format(self.name,self.material))
			
class Shirt(Clothing):
  material="Cotton"

polo = Shirt("Polo")
polo.checkmaterial()

This Polo is made of Cotton

In [ ]:
class Animal:
    sound = ""
    def __init__(self, name):
        self.name = name
    def speak(self):
        print("{sound} I'm {name}! {sound}".format(
            name=self.name, sound=self.sound))

class Piglet(Animal):
    sound = "Oink!"
    print(sound)

class Cow(Animal):
    sound = "Moooo"
    print(sound)

Oink!
Moooo

### **Get Bases Class Name**

In [9]:
class SuperOne:
    pass


class SuperTwo:
    pass


class Sub(SuperOne, SuperTwo):
    pass


def printBases(cls):
    print('( ', end='')

    for x in cls.__bases__:
        print(x.__name__, end=' ')
    print(')')


printBases(SuperOne)
printBases(SuperTwo)
printBases(Sub)

( object )
( object )
( SuperOne SuperTwo )

### **issubclass()**

In [14]:
class Vehicle:
    pass


class LandVehicle(Vehicle):
    pass


class TrackedVehicle(LandVehicle):
    pass


for cls1 in [Vehicle, LandVehicle, TrackedVehicle]:
    for cls2 in [Vehicle, LandVehicle, TrackedVehicle]:
        print(str(cls1.__name__), str(cls2.__name__))
        print(issubclass(cls1, cls2))
    print()

Vehicle Vehicle
True
Vehicle LandVehicle
False
Vehicle TrackedVehicle
False

LandVehicle Vehicle
True
LandVehicle LandVehicle
True
LandVehicle TrackedVehicle
False

TrackedVehicle Vehicle
True
TrackedVehicle LandVehicle
True
TrackedVehicle TrackedVehicle
True

### **The Diamond Problem**

In [27]:
class Top:
    def m_top(self):
        print("top")


class Middle_Left(Top):
    def m_middle(self):
        print("middle_left")


class Middle_Right(Top):
    def m_middle(self):
        print("middle_right")


class Bottom(Middle_Left, Middle_Right):
    def m_bottom(self):
        print("bottom")


object = Bottom()
object.m_bottom()
object.m_middle()
object.m_top()

bottom
middle_left
top

## **Separate File Concept - Inheritance**

In [ ]:
%%writefile script.py

from food import Food
from drink import Drink

food1 = Food('Roti Lapis', 5, 330)
food2 = Food('Kue Coklat', 4, 450)
food3 = Food('Kue Sus', 2, 180)

foods = [food1, food2, food3]

drink1 = Drink('Kopi', 3, 180)
drink2 = Drink('Jus Jeruk', 2, 350)
drink3 = Drink('Espresso', 3, 30)

drinks = [drink1, drink2, drink3]

print('Makanan')
index = 0
for food in foods:
    print(str(index) + '. ' + food.info())
    index += 1

print('Minuman')
index = 0
for drink in drinks:
    print(str(index) + '. ' + drink.info())
    index += 1

print('--------------------')

food_order = int(input('Masukkan nomor makanan: '))
selected_food = foods[food_order]

drink_order = int(input('Masukkan nomor minuman: '))
selected_drink = drinks[drink_order]

# Ambil input dari console dan tetapkan ke variable count
count = int(input('Mau berapa paket makanan? (Diskon 10% untuk 3 atau lebih): '))

# Panggil method get_total_price dari selected_food dan selected_drink
result = selected_food.get_total_price(count) + selected_drink.get_total_price(count)

# Cetak 'Total harga adalah $____'
print('Total harga adalah $'+str(result))

Overwriting script.py

In [ ]:
%%writefile menu_item.py
class MenuItem:
    def __init__(self, name, price):
        self.name = name
        self.price = price

    def info(self):
        return self.name + ': $' + str(self.price)

    def get_total_price(self, count):
        total_price = self.price * count

        if count >= 3:
            total_price *= 0.9

        return round(total_price)

Overwriting menu_item.py

In [ ]:
%%writefile food.py
from menu_item import MenuItem

class Food(MenuItem):
    def __init__(self, name, price, calorie_count):
        super().__init__(name, price)
        self.calorie_count = calorie_count
    
    def info(self):
        return self.name + ': $' + str(self.price) + ' (' + str(self.calorie_count) + 'kkal)'
    
    def calorie_info(self):
        print('kkal: ' + str(self.calorie_count))

Writing food.py

In [ ]:
%%writefile drink.py
from menu_item import MenuItem

class Drink(MenuItem):
    def __init__(self, name, price, volume):
        super().__init__(name, price)
        self.volume = volume

    def info(self):
        return self.name + ': $' + str(self.price) + ' (' + str(self.volume) + 'mL)'

Writing drink.py

In [ ]:
!python3 script.py

Makanan
0. Roti Lapis: $5 (330kkal)
1. Kue Coklat: $4 (450kkal)
2. Kue Sus: $2 (180kkal)
Minuman
0. Kopi: $3 (180mL)
1. Jus Jeruk: $2 (350mL)
2. Espresso: $3 (30mL)
--------------------
Masukkan nomor makanan: 0
Masukkan nomor minuman: 1
Mau berapa paket makanan? (Diskon 10% untuk 3 atau lebih): 2
Total harga adalah $14

# Practice

##*01*

In [ ]:
# define a basic city class
class City:
	name = ""
	country = ""
	elevation = 0 
	population = 0

# create a new instance of the City class and
# define each attribute
city1 = City()
city1.name = "Cusco"
city1.country = "Peru"
city1.elevation = 3399
city1.population = 358052

# create a new instance of the City class and
# define each attribute
city2 = City()
city2.name = "Sofia"
city2.country = "Bulgaria"
city2.elevation = 2290
city2.population = 1241675

# create a new instance of the City class and
# define each attribute
city3 = City()
city3.name = "Seoul"
city3.country = "South Korea"
city3.elevation = 38
city3.population = 9733509

def max_elevation_city(min_population):
	# Initialize the variable that will hold 
# the information of the city with 
# the highest elevation 
  highest_elevation=0
  return_city =""

	# Evaluate the 1st instance to meet the requirements:
	# does city #1 have at least min_population and
	# is its elevation the highest evaluated so far?
  if (city1.population>min_population):
      if(highest_elevation<city1.elevation):
          highest_elevation=city1.elevation
          return_city = ("{}, {}".format(city1.name,city1.country))
	# Evaluate the 2nd instance to meet the requirements:
	# does city #2 have at least min_population and
	# is its elevation the highest evaluated so far?
  if(city2.population>min_population):
      if (highest_elevation<city2.elevation):
          highest_elevation=city2.elevation
          return_city = ("{}, {}".format(city2.name,city2.country))
	# Evaluate the 3rd instance to meet the requirements:
	# does city #3 have at least min_population and
	# is its elevation the highest evaluated so far?
  if(city3.population>min_population):
      if (highest_elevation<city3.elevation):
          highest_elevation=city3.elevation
          return_city = ("{}, {}".format(city3.name,city3.country))

	#Format the return string
  if return_city!="":
      return return_city
  else:
      return ""

print(max_elevation_city(100000)) # Should print "Cusco, Peru"
print(max_elevation_city(1000000)) # Should print "Sofia, Bulgaria"
print(max_elevation_city(10000000)) # Should print ""

Cusco, Peru
Sofia, Bulgaria

##*02*

In [ ]:
class Elevator:
    def __init__(self, bottom, top, current):
        """Initializes the Elevator instance."""
        self.bottom = bottom
        self.top = top
        self.current = current
        
    def __str__(self):
        return "Current floor: {}".format(self.current)
    def up(self):
        """Makes the elevator go up one floor."""
        if self.current < self.top:
            self.current += 1
    def down(self):
        """Makes the elevator go down one floor."""
        if self.current > self.bottom:
            self.current -= 1
    def go_to(self, floor):
        """Makes the elevator go to the specific floor."""
        if floor >= self.bottom and floor <= self.top:
            self.current = floor
        elif floor < 0:
            self.current = 0
        else:
            self.current = 10
        

elevator = Elevator(-1, 10, 0)

In [ ]:
elevator.up() 
elevator.current #should output 1

1

In [ ]:
elevator.down() 
elevator.current #should output 0

0

In [ ]:
elevator.go_to(10) 
elevator.current #should output 10

10

In [ ]:
# Go to the top floor. Try to go up, it should stay. Then go down.
elevator.go_to(10)
elevator.up()
elevator.down()
print(elevator.current) # should be 9
# Go to the bottom floor. Try to go down, it should stay. Then go up.
elevator.go_to(-1)
elevator.down()
elevator.down()
elevator.up()
elevator.up()
print(elevator.current) # should be 1

9
1

In [ ]:
elevator.go_to(5)
print(elevator)

Current floor: 5

##*03*

In [ ]:
class Animal:
    name = ""
    category = ""
    
    def __init__(self, name):
        self.name = name
    
    def set_category(self, category):
        self.category = category

In [ ]:
class Turtle(Animal):
    category = "reptile"
print(Turtle.category)

reptile

In [ ]:
class Snake(Animal):
    category = "reptile"

In [ ]:
class Zoo:
    def __init__(self):
        self.current_animals = {}
    
    def add_animal(self, animal):
        self.current_animals[animal.name] = animal.category
    
    def total_of_category(self, category):
        result = 0
        for animal in self.current_animals.values():
            if animal == category:
                result += 1
        return result

zoo = Zoo()

turtle = Turtle("Turtle") #create an instance of the Turtle class
snake = Snake("Snake") #create an instance of the Snake class

zoo.add_animal(turtle)
zoo.add_animal(snake)

print(zoo.total_of_category("reptile")) #how many zoo animal types in the reptile category

2